= title 'Usuários'

= link_to 'Novo', new_users_admin_path, {class: 'btn btn-primary float-right mb-2'}


%table.table.table-bordered.table-sm.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th.text-center Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td.text-center
          = link_to 'editar', edit_users_admin_path(user)