!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    
    %title= content_for?(:title) ? "#{yield(:title)} - GKG News" : "GKG News"

    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navigation'
    .p-4
      = render 'shared/alerts'

    .container-fluid
      - if content_for?(:title)
        %h1.h3.text-gray-800
          = "#{yield(:title)}"


      - if content_for?(:hide_default_layout)
        .container-fluid
          = yield
      
      - else
        .card.card_content
          .card-body
            = yield

    = javascript_pack_tag 'lazy_loader'
