!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    
    %title= content_for?(:title) ? "#{yield(:title)} - GrailsTemplate" : 'GrailsTemplate'

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navigation'
    .p-4
      = render 'shared/alerts'

    .container-fluid
      - if content_for?(:title)
        %h1.h3.text-gray-800
          = "#{yield(:title)}"


      - if content_for?(:hide_default_layout)
        .row
          .col-12
            = yield
      
      - else
        .row
          .col-12.card.card_content.py-3
            = yield
